/* TEMPORARY MINIMUM WIDTH SIZE */
.container {
    min-width: 596px;
}

/* RESET RULES */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body, h2, h4, ul {
    margin: 0;
}
.row {
    margin-bottom: 66px;
}

/* TEMPORARY HIDE ELEMENTS */
/* header, .ttr-sidebar {
    display: none;
} */

body {
    background-color: #f1f2f7;
}

/*----------------------------------------------------------------
HEADER STYLES 
*---------------------------------------------------------------*/

.ttr-header {
    width: 100%;
    height: 60px;
    z-index: 101;

    background: #222927;

    background: linear-gradient(to top, rgb(214, 84, 44),#ff7d04);
    /* background: linear-gradient(to right, #ff8814 0%,#db4b24 100%); */
    /* background: linear-gradient(to right, #222927 0%,#020202 100%); */
    /* background: linear-gradient(to right, #7e2f0b 0%,rgba(243, 85, 23, 0.973) 100%); */

    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);    
    position: fixed;
    left: 0;
    top: 0;
    color: #eaeaea;

    -webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.ttr-toggle-sidebar {
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    background-color: rgba(255,255,255,0.1);
}
.ttr-toggle-sidebar i {
    position: absolute;
    top: 18px;
    left: 18px;
}
.ttr-toggle-sidebar i:before {
    margin: 0;
    padding: 0;
}
.ttr-close-icon {
    display: none;
}
.ttr-toggle-sidebar {
    float: left;
}
.ttr-logo-box {
    float: left;
    height: 60px;
    padding: 0 15px;
}
.ttr-logo-box a {
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    color: #eaeaea;
}
.ttr-logo-box .logo-text {
    margin-left: 10px;
    line-height: 1.1em;
}
.ttr-logo-box a span:first-child {
    font-size: 1.1em;
    font-weight: 600;
}
.ttr-logo-box a span:last-child {
    font-size: 1em;
    color: rgb(187, 196, 204);
    display: block;
}
.logo-text {
    display: inline-block;
}
.ttr-header-right {
    float: right;
}
.ttr-account-control {
    list-style: none;
    margin: 0;
    padding: 0 1em 0 0;
}
.ttr-account-control li {
    display: inline;
}
.ttr-account-control li a {
    height: 60px;
    display: table-cell !important;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 0.9em;

    /* -webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); */
}
.ttr-account-control li a i:before {
    font-size: 0.9em;
}
.ttr-account-control li a span {
    margin-left: 4px;
}
.ttr-account-control li a:hover {
    opacity: .8;
}

/*----------------------------------------------------------------
SIDEBAR STYLES
*---------------------------------------------------------------*/

.ttr-sidebar {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #04242e;
    padding-top: 20px;

	/* -webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); */
}
.pinned-sidebar {
    top: 60px;
    z-index: 100;
}
.ttr-sidebar-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.ttr-sidebar-nav li {
    margin: 2px 0;
    display: block;
    width: 100%;
}
.ttr-sidebar-nav ul ul {
    display: block;
    background-color: #032e3b;
}
.ttr-sidebar-nav ul > li > ul > li > a {
    padding: 0 20px 0 60px;
    line-height: 40px;
    height: 40px;
    font-size: 95%;
}
.ttr-icon i:before {
    margin: 0;
}
.ttr-sidebar-nav a {
    line-height: 50px;
    text-decoration: none;
    height: 50px;
    padding: 0 20px;
    color: #eaeaea;
    white-space: nowrap;
    display: table;
    width: 100%;

    /* -webkit-transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-moz-transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-o-transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); */
}
.ttr-sidebar-nav a:hover {
    background-color: #2c3946;
}
.ttr-sidebar-nav a > span {
    display: table-cell;
}
.ttr-sidebar-nav a > span.ttr-icon {
    width: 40px;
    height: 50px;
    line-height: 0;
    vertical-align: middle;
    font-size: 18px;
}
.ttr-sidebar-nav a > span.ttr-arrow-icon {
    width: 24px;
    line-height: 0;
    text-align: center;
}
.ttr-sidebar-nav a > span.ttr-arrow-icon > i:before {
    font-size: 11px;
    margin: 0;
}


/*----------------------------------------------------------------
MAIN CONTENT STYLES
*---------------------------------------------------------------*/

.ttr-main {
    margin-left: 300px;
    padding: 95px 45px 0;

    /* -webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); */
}
.display-flex-normal {
    display: flex;
    align-items: center;
}
.display-flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


/* MAIN PANEL STYLES */
.ttr-main-panel {
    border: 1px solid #9fa5a3;
    border-radius: 4px;
    color: rgb(100, 98, 98);
    filter: drop-shadow(0 0 7px rgb(148, 145, 145));
    background: #e5e7e7;
    padding: 20px 40px;
}
.ttr-main-panel .tab-control li a:hover {
    background-color: #aab3b0;
}
.ttr-main-panel2 .tab-control li a:hover {
    background-color: #ccd4d2;
}
.ttr-main-panel .panel-logo-box {
    margin: 0 20px;  
}
.ttr-main-panel .panel-buttons {
    position: relative;
}
.ttr-main-panel .panel-buttons span {
    position: absolute;
    top: 0px;
    right: 0px;
}
.ttr-main-panel .panel-buttons span i::before {
    margin: 0 4px 0 0;
}
.ttr-main-panel .panel-buttons a {
    text-decoration: none;
}
.ttr-main-panel .panel-buttons a:hover {
    opacity: .9;
}
.ttr-main-panel .panel-buttons span a i:before {
    font-size: 1.7em;
    color: #2c3946;
}

.ttr-main-panel table {
    padding-right: 30px;
    font-size: .9em;
}
.ttr-main-panel table tr td {
    vertical-align: top;
}
.ttr-main-panel table tr td:first-child {
    text-align: right;
    padding-right: 20px;
}

/* BACKGOUND THEMES */
.dark-background {
    background: #cfd0d0;
}
.light-background {
    background: #e3e7e7;
}

/* PANEL STYLES */
.panel-control {
    margin-bottom: 10px;
}
.panel-control .control-group {
    display: inline-block;
}
.panel-control .control-group:nth-child(2) {
    margin-left: 90px;
}
.panel-control .control-group:last-child {
    float: right;
}
.panel-control .control-group input[type="text"] {
    border: 1px solid #bcc2c0;
    border-radius: 4px;
    color: rgb(148, 139, 139);
    padding: 5px 10px;
    outline: none;
    line-height: 1.2em;
    text-align: center;
}
.panel-control .control-group input[type="text"]:hover {
    border-color: #719ECE;
    box-shadow: 0 0 4px #719ECE;
}
.panel-control .control-group input[type="text"]::placeholder {
    text-align: center;
}
.panel-control .control-group select {
    padding: 4px 10px;
    border-radius: 4px;
    outline: none;
    background-color: #dddddd;
    color: rgb(148, 139, 139);
}
.panel-container {
    display: inline-block;
}
.ttr-panel {
    border: 1px solid #282a3c;
    border-radius: 4px;
    box-shadow: 0 0 20px rgb(148, 145, 145);
    background-color: #fff;
}
.panel-heading {
    height: 35px;
    background-color: #282a3c;
}
.panel-content {
    padding: 15px 18px;    
}
.panel-content h4 {
    margin-bottom: 5px;
}

.panel-heading .tab-control {
    color: #fff;
    height: 35px;
    line-height: 1.7em;
}
.panel-heading .tab-control li {
    height: 35px;
}
.panel-heading .tab-control li a {
    color: #fff;
    line-height: 2em;
}
.panel-heading .tab-control li a:hover {
    background: #082f3b;
}
.panel-heading .tab-control li a.active {
    border-bottom: 3px solid #05a376;
}

/* PANEL ATTRIBUTES */
.tabbed {
    padding-top: 35px;
    position: relative;
}
.table {
    padding-left: 20px;
    padding-right: 20px;
}

/* TABLE STYLES */

table {
    border-collapse: collapse;
}
.ttr-table {
    font-size: .9em;
    border: 1px solid #cccfce;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}
.ttr-table:last-child {
    margin: 0;
}
.ttr-table tr:hover {
    background-color: #bbafafaa !important;
}
.ttr-table img {
    vertical-align: middle;
}
.ttr-table th {
    text-align: left;
    color: #2c3946;    
    padding: 0 10px;
    vertical-align: middle;
}
.ttr-table td {
    padding: 5px 10px;
    vertical-align: middle !important;
}
.ttr-table .table-action {
    margin: 0 0 0 10px;
    text-align: right;
}
.ttr-table .table-action a {
    text-decoration: none;
    padding: 2px 4px;
    background-color: #e5ebe9;
    color: #04242e;
    border: 1px solid #c0c4c5;
}
.ttr-table .table-action a:first-child {
    border-radius: 6px 2px 2px 6px;
}
.ttr-table .table-action a:last-child {
    border-radius: 2px 6px 6px 2px;
}
.ttr-table .table-action a:hover {
    background-color: #d4dad7;
}
.ttr-table .table-action i:before {
    font-size: .9em;
    margin: 0;
}
.ttr-table tr:nth-child(even) {
    background-color: #eceeed;
}
.ttr-table tr:nth-child(odd) {
    background-color: #ffffff;
}
.ttr-table tr:first-child {
    background-color: #c9d1ce;
    color: #eaeaea;
    height: 35px;
}

.stud-list tr td {
    overflow: hidden;
    text-overflow: ellipsis;
}
.stud-list tr td:nth-child(1) {
    padding-right: 0 !important;
}
.stud-list tr td:nth-child(2) img {
    margin: 0;
    padding: 0;
}

/* table add button */

.table-add {
    float: right;
    font-size: .8em;
    line-height: 10px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #05a376;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.table-add:hover {
    background-color: #068a64;
}


.ttr-section-head {
    margin-bottom: 10px;
}
.ttr-section-head .section-title {
    display: inline-block;
}
.ttr-section-head .section-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #549cd9;
    padding: 4px 10px;
    line-height: 1.5em;
    border-radius: 20px;
    font-size: .8em;
    float: right;

	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	-o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.ttr-section-head .section-button:hover {
    background-color: #2d7cc0;
}



/* BREADCRUMB STYLES  */

.db-breadcrumb {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 5px;
    margin-bottom: 30px;;
}
.db-breadcrumb-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumb-title {
    margin-bottom: 0;
    font-weight: 900;
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-right: 10px;
    margin-right: 10px;
    line-height: 28px;
}
.db-breadcrumb-list li {
    display: inline-block;
}
.db-breadcrumb-list li:first-child a {
    color: #1a6982 !important;
}
.db-breadcrumb-list li a {
    text-decoration: none;
    color: #222927;
}
.db-breadcrumb-list li a i:before {
    margin: 0 2px 0 0;
    font-size: .9em;
}
.db-breadcrumb-list li::after {
    font-family: "Flaticon";
    content: "\f117";
    font-size: .8em;
    color: rgb(148, 150, 147);
}
.db-breadcrumb-list li:last-child::after {
    content: none;
}





/* BULK ADD STUDENTS */

.bulk-add span {
    text-align: center;
    display: block;
    border-bottom: 1px solid #e7e9e8;
    margin-bottom: 15px;
    padding: 0 0 15px;
    width: 100%;
    
}
.bulk-add span:last-child {
    border: 0;
    margin: 0;
}

/* BUTTON STYLES */

.btn {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    line-height: 1.5em;
    
    background: #cac7c7;
    margin-right: 4px;
    border: 1px solid #adafaf;
    border-radius: 4px;
    vertical-align: middle;
}
.btn:hover {
    opacity: .9;
}
.btn i:before {
    margin: 0;
    vertical-align: middle;
    font-size: .9em;
}
.btn-selectall {
    background-color: #7cb942;
    border: 1px solid #7cb942;
    font-size: .8em;
}
.btn-delete {
    background-color: #ec4b0be7;
    border: 1px solid #ec4b0be7;
    font-size: .8em;
}
.btn-submit {
    padding: 0 25px;
    line-height: 2em;
    border-radius: 50px;
    border: 1px solid;
    float: right;
    background-color: #2d7cc0;
    border: 1px solid #2d7cc0;
}
.btn-upload {
    background-color: #fff;
    border: 1px solid #9fa5a3;
    color: #454948;
    border-radius: 50px;    
}
.generate-csv {
    background: #2d7cc0;
    border: 1px solid #2d7cc0;
    border-radius: 30px;
}
.select-csv {
    background: #18a9ce;
    border: 1px solid #18a9ce;
    border-radius: 2px;
}
.import-csv {
    background: #05a376;
    border: 1px solid #05a376;
    border-radius: 30px;
}

/* INSTRUCTION STYLE */

.instruction-container {
    margin-top: 38px;
}
.ttr-instructions {
    padding: 20px;
    background: #2d7cc0;
    color: #fff;
    border-radius: 5px;
    font-size: .9em;
    width: auto;

    background-image:
    linear-gradient(
      to top, 
      rgb(101, 33, 211),
      #5578eb
    );
}
.ttr-instructions h4 {
    text-decoration: underline;
    margin-bottom: 10px;    
}
.ttr-instructions p {
    margin: 0;
    font-size: 1em;
}
.display-grid {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 3fr 2fr;
}

/* FORM STYLES */

.form-content {
    width:100%;
    margin: 0 auto;
}
.form-content .form-group {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e7e9e8;
    width: 100%;
    display: table;
}
.form-content .form-group:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0;
}
.form-content .form-group label {
    display: inline-block;
    text-align: right;
    width: 25%;
    float: left;
    padding-top: 7px;
}
.form-content .form-group > div {  
    display: inline-block;
    width: 75%;
    padding-left: 20px;
}
.form-content .form-group .form-field {
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    border: solid 1px #c7cecb;
    padding: 6px;
    outline: none;
    line-height: 1.5em;
}
.form-content .form-group .form-field:focus,
.form-group textarea:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 4px #719ECE;
}
.form-group textarea {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    resize: none;
    outline: none;
}
.upload-pic {
    display: inline-block;
    background-color: #d0d2d4;
    margin-bottom: 4px;
}

/* FORM TAB STYLES */

.tab-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #a8a2a2;
    height: 24px;
}
.tab-control {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    height: 100%;
}
.tab-control li {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
}
.tab-control li a {
    text-decoration: none;
    color: #2f3131;
    display: inline-block;
    height: 100%;
    line-height: 1.5em;
    padding: 0 10px;
}
.tab-control li a.active {
    border-bottom: 2px solid #05a376;
}

.full-width {
    width: 100%;
}


/*----------------------------------------------------------------
RESPONSIVE DESIGN
*---------------------------------------------------------------*/

@media (max-width: 1000px) {
    .ttr-sidebar {
        left: -300px;
    }
    .ttr-main {
        margin-left: 0;
    }
}